.footer {
  display: flex;
  justify-content: space-around ;
  margin-top: auto;
  min-height: 9vh;
  align-items: center;
  padding-top: 5px;
  border-top: 1px solid #d0d0d0;
  z-index: 2;
  background-color: white;

  .active,
  .inactive {
   text-decoration: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   transition-duration: 0.1s;
   
   p {
    margin: 0;
    font-family: Roboto;
   }
  }

  .inactive {
    color: #d0d0d0;
  }

  .active {
    scale: 1.1;
    color: #2D86D2;
  }
}